
.welcoming {
    text-align:center;color:white;
    margin-top: 150px;
    position:relative;
    
}

.mainsubhead {
    text-align:center;margin-top:100px;
    color:white;
    font-size:24px;
    position:fixed;
    
}

.firstpagebackground {
    background-image:"medievalknightillustration.jpg";
    background-color: #f0f0f0;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.linkboxes {
    position:fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    padding:20px 20px;
    gap:20px;
    font-size: 20px;
    z-index:1000;
    

}
.tribox {
    background: darkblue;
  color: white;
  padding: 8px 14px;
  border-radius: 0px;
  text-decoration:none;

}

